header {background-color:red; clear:both}
footer {background-color:teal; clear:both}
article {background-color:yellow; float:right; width:75%}
section {background-color:pink}
nav {background-color:greenyellow; float:left; width:25%}