<!DOCTYPE html>
<html> 
<link rel="stylesheet" type="text/css" href="styles.css">
<head>  
   <meta charset="utf-8"/>  
   <title>HTML 5 Layout</title>  
</head>
<body>  
<header>
   <h1>Welcome to My Site</h1>
</header>
<aside>
   <nav>
      <a href="#">Home</a><br/>
      <a href="#">About Us</a><br/>
      <a href="#">Contact</a><br/>
   </nav>
</aside>
<article>
      <h1>Acme A180 Wood Baseball Bat</h1>

	  <section>
   <h2>Product Description</h2>
   <p>Price: $99.99</p>
   <p>Specifications:</p>
   <ul>
      <li>Northern white ash wood</li>
      <li>Natural finish</li>
      <li>32, 33, or 34 inches long</li>
   </ul>
</section>
<section>
   <h2>Product Comparison</h2>
   <p>This bat is comparable to the Batt Bros. GX300 and King Bats TR18, but costs less, offers a better sweet spot, and a better feel due to its long, thin tapered handle.</p>
</section>
<section>
   <h2>User Review</h2>
   <p>Posted by Bob on <time datetime="2010-09-29T15:35Z">September 29, 2010 at 3:35 PM</time></p>
   <p>I love this wooden baseball bat!  It's reasonably priced, very light weight, and has yet to break.</p>
</section>

</article>


<footer>
    <p>Copyright 2013 WebAge Solutions Inc.</p>
</footer>

</body>  
</html> 